.star {
	width: 0;
	height: 0;
	position: relative;
	margin: 50px auto;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid yellow;
	transform: rotate(180deg);
	z-index: 0;
}

.star::before,
.star::after {
	content: '';
	position: absolute
